{% extends 'base.html' %}
{% load customs %}
{% load static %}
{% block content %}
    {% load social_share %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card-body">
                    <h1 style="text-align:justify;">{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }} |

                        {% for item in post.tags|string_to_list %}
                            <a href="{% url "tag_select_list" tag=item %}"> {{ item }}</a></p>
                        {% endfor %}

                        <a href="{% url 'share_on_media' social=1 id=post.title %}"><img src="{% static 'images/facebook.png' %}"></a>
                        <a href="{% url 'share_on_media' social=2 id=post.title %}"><img src="{% static 'images/whatsapp.png' %}"></a>

                    <p style="text-align:justify;font-size:50px;">{{ object.content | safe }}</p>

                </div>
            </div>

        </div>
    </div>



  <div class="col-md-8 card mb-4  mt-3 ">

    <div class="card-body">
    <h2> &nbsp; &nbsp;  Comentarii..</h2>
{% if not post.comments.all %}
    No comments yet <a href="#"> Add one</a>
{% else %}


        {% for comment in post.comments.all %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
  {% endif %}
    <br><br>
    <a href="{% url 'add_comment' post.slug %}"> &nbsp; &nbsp;Adauga comentariu nou</a>
      </div>
    </div>
{#    <div class="col-md-8 card mb-4  mt-3 ">#}
{#      <div class="card-body">#}
{#        {% if new_comment %}#}
{#        <div class="alert alert-success" role="alert">#}
{#          Your comment is awaiting moderation#}
{#        </div>#}
{#        {% else %}#}
{#        <h3>Leave a comment</h3>#}
{#        <form method="post" style="margin-top: 1.3em;">#}
{#          {{ comment_form.as_p }}#}
{#          {% csrf_token %}#}
{#          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>#}
{#        </form>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
{% endblock content %}
